.wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: no-repeat center/100% 100% url('https://img.zcool.cn/community/0179f45d1ca689a8012076406afd1b.jpg@1280w_1l_2o_100sh.jpg');
  background: no-repeat center/100% 100% url(../static/img/login-bg.jpg);
}

.login-div{
 margin: 12.5rem auto;
 padding: 0 auto;
 width: 400px; 
}
.ant-card-body > span{
  margin: 0 0 15px 0;
}
body{
  background-color: #f0f0f0;
  // font-size: 20px;
}